main{
  
  height: 100%;
}
#dev1{
  background-color:#abbe80;
  border:  lightgray ;
  display: flex;
  width:70%;
  margin: auto;
  margin-top: 2%;
  margin-left: 10%;
  box-shadow: rgb(38, 57, 77) 0px 20px 20px -10px;
  border-radius: 1%;
  
} 

#dev1 img{
  max-height:10em;
  margin: 1%;
  margin-right: 10%
}

#dev1 p{
  font-size: 20px;
  padding-right: 5%;
  text-indent: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  line-height: 150%;
}

#dev2{
  border: solid black 2px;
  display: flex;
  width:70%;
  margin: auto;
  margin-top: 2%;
  margin-right: 10%;
  background-color:#abbe80;
  border:  lightgray ;
  box-shadow: rgb(38, 57, 77) 0px 20px 20px -10px;
  border-radius: 1%;
} 

#dev2 img{
  max-height:10em;
  margin: 1%;
  margin-left: 10% 
}

#dev2 p{
  font-size: 20px;
  margin-left: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  display: inline-block;
  line-height: 170%;
  text-indent: 5%;
}

#dev3{
  background-color:#abbe80;
  border:  lightgray ;
  display: flex;
  width:70%;
  margin: auto;
  margin-top: 2%;
  margin-left: 10%;
  box-shadow: rgb(38, 57, 77) 0px 20px 20px -10px;
  border-radius: 1%;
  
} 

#dev3 img{
  max-height:10em;
  margin: 1%;
  margin-right: 10%
}

#dev3 p{
  font-size: 20px;
  padding-right: 5%;
  text-indent: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  line-height: 150%;
}

#dev4{
  border: solid black 2px;
  display: flex;
  width:70%;
  margin: auto;
  margin-top: 2%;
  margin-right: 10%;
  background-color:#abbe80;
  border:  lightgray ;
  box-shadow: rgb(38, 57, 77) 0px 20px 20px -10px;
  border-radius: 1%;
} 

#dev4 img{
  padding-top: 1%;
  padding-bottom: 1%;
  max-height:8em;
  margin: 1%;
  margin-left: 10% 
}

#dev4 p{
  font-size: 20px;
  margin-left: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  display: inline-block;
  float: left;
  line-height: 150%;
  text-indent: 5%;
}

#Additional{
  background-color:#abbe80;
  border:  lightgray ;
  box-shadow: rgb(38, 57, 77) 0px 20px 20px -10px;
  border-radius: 1%;
  width:40%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 4%;
}

#Additional div:first-child{
  text-align: center;
  font-size: 2em;
}

#Additional div h2{
  font-family: 'Racing Sans One', cursive;
  padding: 4%;
  padding-bottom: 6%;
}

#Additional ul li{
  padding-left: 5%;
  padding-bottom: 5%;
}


#footer{
  position: relative;
}

.white{
  color:black;
}

.name-l, .name-r {
  font-family: 'Racing Sans One', cursive;
  padding-top: 30em;
  display: block;
  color:black;
}
