#race {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 600px;
  grid-template-rows: 1fr .7fr 1fr;
  position: relative;
}

#race img {
  max-width: 200px;
  max-height: 200px;
}

.too-big {
  height: 142px;
}


.racer {
  height: 32px;
  width: 32px;
}

#player-racer {
  position: absolute;
  top: 250px;
  left: 45px;
}

#opponent-racer {
  position: absolute;
  top: 250px;
  left: 125px;
}

#live-play{
  display:none;
  justify-content: center;
  flex-direction: row;
  margin-top: 100px;
}

#quiz{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 300px;
}