#race {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 600px;
  grid-template-rows: 1fr .59fr 1fr;
  position: relative;
}

.track {
  width: 200px;
  max-height: 200px;
  image-rendering: pixelated;
}

.too-big {
  height: 142px;
}

div.too-big {
  width: 143px;
} 

.racer {
  image-rendering: pixelated;
  max-height: 100px;
  width: auto;
}

#player-racer {
  position: absolute;
  top: 250px;
  left: 45px;
}

#opponent-racer {
  position: absolute;
  top: 250px;
  left: 125px;
}

#live-play{
  display:none;
  justify-content: center;
  flex-direction: row;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#quiz{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
  width: 250px;
}

#quiz h2 {
  font-weight: bold;
  font-size:larger;
  background-color: #71873f;
  padding: 10%;
  border-radius: 1em;
  margin-bottom: 2%;
}

#answer-buttons {
  display: grid;
  grid-template-columns: .05fr 1fr;
  grid-template-rows: .25fr .25fr .25fr .25fr;
  background-color: #71873f;
  padding: 10%;
  border-radius: 1em;
}

#quiz input {
  margin-bottom: 15%;
  margin-top: 15%;
}

#answer-buttons p {
  grid-column-start: span 2; 
  margin-bottom: 5%;
}

#answer-buttons span {
  margin-left: 2%;
  margin-bottom: 5%;
}

.hidable {
  width: 300px;
  height: 230px;
  box-shadow:5px 5px 10px rgba(25, 25, 25,.75);
  display: none;
  justify-content: center;
  align-items: center;
  padding-bottom: 2%;
  border-radius: 1em;
}

.hidable p {
  font-family: 'Racing Sans One', cursive;
  font-size: xx-large;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

#you-win img {
  width: 200px;
  margin-left: 17%;
  margin-right: 10%;
}

#you-lose img {
    width: 200px;
    margin-left: 5%;
    margin-right: 10%;
}

#incorrect img, #correct img {
  width: 100px;
  margin-left: 30%;
}

#you-lose div, #you-win div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.hidable p {
  text-align: center;
}

#correct label, #incorrect label{
  display: flex;
  flex-direction: column;

}

#correct input, #incorrect input {
  margin-top: 5%;
}


