

body {
  
  background-color: #abbe99;
}
/* ********************* Header ******************** */
header{
  text-align: center;
  
}

div img {
  width: 200px;
}
#banner {
  background-color: #71873f;
  height: 200px;
  width: 1600px;
  display: flex;
  justify-content: space-between;
  text-align:center;
  margin:auto;
}

#banner h1 {
  font-family: 'Rye', cursive;
  font-size: 500%;
  padding-top: 35px;
  display: block;
  color:aliceblue;
}

#navi {
  /* border: solid black 2px; */
  width: 1600px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;

}
nav ul li {
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 5px;
  margin-top: 5px;
  display: inline-block;
} 

a {
  text-decoration: none;
  color: aliceblue;
}
/* ****************************** Splash *********** */

#pregame{
  /* display: none; */
  background-color:#abbe80;
  border:  lightgray ;
  width: 900px;
  height: 700px;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  display:flex;
  flex-direction: column;
  align-items: center;
}

#name-input{
  margin-top: 150px;
  font-size: 75px; 
}

input[type="text"]{
    font-size:45px;
    text-align: center;
}
#player-choice{
  font-size: 2vw;
  margin-top: 50px;
}

#player-choice input[type=radio] {
  border: 0px;
  font-size:45px;
}

#player-choice label{
text-align: center;
}


/* ***************** FOOTER ******************* */
#footer {
  background-color:#71873f;
 clear: both;
 position: fixed;
 margin: auto;
 right: 0;
 left: 0;
 bottom: 0;
 width: 1600px;
 text-align: center;
 height: 150px;
 
}

#left-footer{
  float:left;
  margin-left: 100px;
}
#right-footer{
  margin-right: 100px;
  float:right;
}

.center{
  font-size: large;
  margin-top:60px;
}

